.DS_Store
!index.php
relis_app/cache/*

relis_app/logs/*

cside/sessions/relis_session*
relis_app/libraries/table_config/project/install_config*
relis_app/libraries/table_config/project/temp/install_config*
workspace/dslforge_workspace/*
relis_app/config/database.php
phpmyadmin/tmp/*

/vendor/
derby*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
