.DS_Store
index.php
relis_app/cache/*
!application/cache/index.html
!application/cache/.htaccess

relis_app/logs/*
!application/logs/index.html
!application/logs/.htaccess

cside/sessions/relis_session*
relis_app/libraries/table_config/project/install_config*
relis_app/libraries/table_config/project/temp/install_config*
workspace/dslforge_workspace/*

/vendor/
derby*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
